extends layout

block content 			
	div(class='home')
		div(class='center')
			div(class='addPortID')
				h1 Port calls
				if portCalls.length == 0
					p There are currently no portcalls
				else
					ul
					each val in portCalls
						li 
							
							p #{val.vesselName}
							a(href='/' + val.portCallId)= val.portCallId
							br
							a(href='#', class='deletePortcall', data-id=val.portcallid) Delete
              
				h2 Add a new port call
				form(action='/', method='POST')
					label(for='vname') Vessel name
					br
					input(type='text', name='vname') 
					br
					label(for='pid') Port call id
					br
					input(type='text', name='pid') 
					br
					input(type='submit', name="submit", id='submitButton')

			div(class='latestCalls')
				h1 30 Latest PortCalls

				div(class='listOfvesselID')
					if portCalls30.length == 0
						p There are currently no portcalls
					else
						ul
							each val in portCalls30
								li(class='vesselID')
									h5 #{val.vessel.name}
									| #{val.id}
	footer(class='footer')
		div(class='center')
			div(class='contact')
				h5 Terminal Siljaline
				p DAT255 2017
				a(href='https://github.com/hburden/DAT255' class='gitLink') GitHub/SiljaLine
			div(class='contactRight')
				img(class='iconsChalmers')
				img(class='inconsWheel')